<div class="row">
	<div class="col-sm-12 text-center">
	<%= link_to "Add post", root_path %> |
	<%= link_to "Add info", root_path %> | 
	<%= link_to "Add avatar", root_path %>
	 </div>
 </div>
<hr>


